@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Fuck you, world!</h1>

<!-- Button and date output -->
<div style="display: flex; align-items: center; margin-bottom: 10px;">
    <button @onclick="ShowCurrentDate">Show Date Time</button>
    <span style="margin-left: 10px;">@currentDate</span>
</div>

<!-- Radzen button and its output -->
<div style="display: flex; align-items: center;">
    <RadzenButton Text="Radzen Button" Click="@RadzenButtonClick"/>
    <span style="margin-left: 10px;">@radzenButtonOutput @RadzenCurrentDate</span>
</div>

<!-- Radzen Data Grid and its Title -->
<h3 style="margin-top: 50px;">Youtube Videos!</h3>
<RadzenDataGrid Style="width: 800px; height: 600px;"
                Data="@videos" TItem="Videos" Count="@videos.Count" PageSize="25"
                AllowPaging="true" AllowSorting="true" AllowColumnResize="true" 
                AllowColumnPicking="true" ShowPagingSummary="true" AllowFiltering="true" >
    <Columns>
        <RadzenDataGridColumn TItem="Videos" Property="Title" Title="Title" />
        <RadzenDataGridColumn TItem="Videos" Property="Channel" Title="Channel" />
        <RadzenDataGridColumn TItem="Videos" Property="Published" Title="Published" />
        <RadzenDataGridColumn TItem="Videos" Property="Duration" Title="Duration" />
        <RadzenDataGridColumn TItem="Videos" Property="Url" Title="Url" />
    </Columns>
</RadzenDataGrid>



<!-- button code -->
@code {
    // Variable to store the current date
    private string currentDate = string.Empty;

    // Variable to store the current date
    private string RadzenCurrentDate = string.Empty;

    // Variable to store the Radzen button output
    private string radzenButtonOutput = string.Empty;

    // Method to update the currentDate variable
    private void ShowCurrentDate()
    {
        currentDate = DateTime.Now.ToString("dd MMMM yyyy - HH:mm:ss");
    }

    // Method to handle the Radzen button click
    private void RadzenButtonClick()
    {
        radzenButtonOutput = "Radzen Button Clicked!";
        RadzenCurrentDate = DateTime.Now.ToString("dd MMMM yyyy - HH:mm:ss");
    }
    
}


<!-- Radze Data Grid code -->
@code {
    private List<Videos>? videos;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("https://func-app-powershell001.azurewebsites.net/api/HttpTrigger3?searchterm=chomsky");
        if (response.IsSuccessStatusCode)
        {
            var jsonString = await response.Content.ReadAsStringAsync();
            videos = System.Text.Json.JsonSerializer.Deserialize<List<Videos>>(jsonString);
        }
    }
}